.orderHeader{
    min-width: 100%;
    min-height: 130px;
    background-color:  #CE2829;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Barlow";
    justify-content: center;
}

.headerLogoContainer{
    height: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
}


