.success-container {
  background: #ce2829;
  min-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.logo-area {
  margin-top: 80px;
}
.logo {
  height: 50px;
  width: 368px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  color: #fdc913;
  font-family: "Satisfy", cursive;
  font-size: 28px;
  padding: 0;
}
.title {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 86px;
  letter-spacing: 1.5px;
  line-height: 92px;
}
.pizza-identifer {
  font-family: "Barlow";
  color: white;
  font-weight: 600;
  font-size: 22px;
}
.pizza-ingredients {
  width: 300px;
}
.ingredientP {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.order-review {
  min-width: 350px;
  min-height: 197px;
  border: 1px solid #ffff;
  border-radius: 6px;
  margin-top: 32px;
  margin-bottom: 64px;
}
.order {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: 600;
}
.choice {
  display: flex;
  justify-content: space-between;
}
.second {
  margin-right: 40px;
}
