.order-detail {
    max-width: 530px;
    max-height: 256px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.pizza-count {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    width: 170px;
    margin-bottom: auto;
    margin-right: auto;
}

.count-button {
    background-color: #FDC913;
    border: 1px #D9D9D9;
    cursor: pointer;
    width: 57px;
    height: 56px;
    font-size: medium;
    font-weight: 700;
    border-radius: 6px;
}

.count {
    width: 57px;
    height: 56px;
    text-align: center;
}
.order-button{
    width: 350px;
    height: 62px;
    background-color: #FDC913;
    border: none;
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 1.1em;
}
.red-color{
    color: red;
   
}
.order-container {
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center; 
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 18px;
}

.sum {
  color: red;
  font-weight: bold;
}
.h4-note{
    font-weight: 600;
    font-size: 20px;
}
hr{
    margin-top: 25px;
    margin-bottom: 25px;
}
.order-container h4{
    display: flex;
    justify-content: start;
}